In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('airpollution.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1600 non-null   float64
 1   feature_2  1600 non-null   float64
 2   feature_3  1600 non-null   float64
 3   feature_4  1600 non-null   float64
 4   feature_5  1600 non-null   float64
 5   target     1600 non-null   float64
dtypes: float64(6)
memory usage: 75.1 KB

In [4]:
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [5]:
df[df<0]=0

In [6]:
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416   0.000000        0.0   0.406816   0.525662   0.000000
1   0.000000   0.000000        0.0   0.000000   0.597997   0.000000
2   0.236425   0.132836        0.0   0.699854   0.000000  77.270371
3   0.175312   0.143194        0.0   0.000000   0.000000   0.000000
4   0.000000   0.542712        0.0   0.000000   1.244077   0.000000

In [7]:
X=df.drop('target',axis=1)

In [8]:
y=df['target']

In [9]:
X.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.293416   0.000000        0.0   0.406816   0.525662
1   0.000000   0.000000        0.0   0.000000   0.597997
2   0.236425   0.132836        0.0   0.699854   0.000000
3   0.175312   0.143194        0.0   0.000000   0.000000
4   0.000000   0.542712        0.0   0.000000   1.244077

In [10]:
y.head()

0     0.000000
1     0.000000
2    77.270371
3     0.000000
4     0.000000
Name: target, dtype: float64

In [11]:
y=pd.DataFrame(df['target'])

In [12]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  1600 non-null   float64
dtypes: float64(1)
memory usage: 12.6 KB

In [13]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression as lr
lr_model=lr()

lr_model.fit(X_train,y_train)

LinearRegression()

In [15]:
y_pred=lr_model.predict(X_test)

In [16]:
y_pred.shape

(528, 1)

In [17]:
df1=pd.read_csv('airtest.csv')

In [18]:
df1.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [19]:
df1[df1<0]=0

In [20]:
df1.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209   0.000000   0.000000   0.000000
1   0.000000   0.953185   0.626719   0.704406   0.000000
2   0.000000   0.962991   0.000000   0.000000   0.455201
3   0.000000   0.544802   0.601219   0.000000   0.000000
4   0.000000   0.000000   1.358552   0.000000   0.411925

In [21]:
x_test_provided=df1

In [22]:
y_pred1=lr_model.predict(x_test_provided)

In [23]:
y_pred1.shape

(400, 1)

In [24]:
y_pred1

array([[193.09287333],
       [ 96.8721739 ],
       [ 69.62161303],
       [ 34.06678381],
       [-10.00062676],
       [ -5.07575446],
       [ 24.46596834],
       [ 91.61178456],
       [152.40305281],
       [140.59802532],
       [-14.84869821],
       [  6.97096844],
       [  9.1061023 ],
       [ 89.08222874],
       [ 28.05248843],
       [ 24.33111388],
       [ 26.53818865],
       [ 32.33002637],
       [ 56.52050188],
       [ 99.08284481],
       [ 46.94559954],
       [  5.04956508],
       [-13.9012317 ],
       [ -5.68398025],
       [-12.0030246 ],
       [ 24.42637864],
       [ 28.10493907],
       [ 95.51084393],
       [  2.42800475],
       [  7.58158421],
       [ 92.84591159],
       [ 22.95650857],
       [185.73285553],
       [ 39.26031056],
       [-15.09148694],
       [114.05096239],
       [ 34.38585819],
       [ 59.69308103],
       [-14.02475758],
       [ 86.99168155],
       [ -3.93422667],
       [-15.98122773],
       [-14.92177887],
       [103.41748352],
       [ 88.74474246],
       [ 67.50973303],
       [ 27.54591673],
       [ 64.10428575],
       [-13.58109681],
       [ -9.2694903 ],
       [ 55.90186515],
       [ 64.00463376],
       [ 42.08112652],
       [ 10.27934515],
       [  7.20399261],
       [-15.93752641],
       [ 51.78435844],
       [152.22756535],
       [ -4.16844907],
       [ 57.83336297],
       [ 13.88625535],
       [ -8.02479748],
       [133.09394968],
       [ 69.47842376],
       [ 32.45432888],
       [ 43.28379707],
       [ 53.14683687],
       [ 48.18092563],
       [  1.10479079],
       [ 33.34394931],
       [  5.60688105],
       [133.01965849],
       [ 18.07543334],
       [ 66.81512729],
       [-10.61069266],
       [ 41.95559488],
       [ 54.87909873],
       [ -4.3658022 ],
       [ 17.58527674],
       [118.10783347],
       [-13.75839564],
       [  0.67794457],
       [-17.27103447],
       [ 54.56013572],
       [114.7311118 ],
       [239.75471821],
       [-17.27103447],
       [ 37.51183859],
       [ 92.49703974],
       [-17.27103447],
       [ -1.8588505 ],
       [ 83.68492875],
       [-17.27103447],
       [-14.9082057 ],
       [ 99.63764114],
       [ 68.77658117],
       [-14.90463037],
       [-16.89460248],
       [ 23.50063159],
       [  1.07976672],
       [ 91.71943084],
       [-15.36844407],
       [101.90231991],
       [ 15.95972034],
       [  0.91852231],
       [100.54809697],
       [ 22.25808885],
       [ 82.45847452],
       [  3.75792951],
       [ 23.88921175],
       [ 58.98569821],
       [ 22.49022094],
       [ 82.82049903],
       [ 24.01898228],
       [ 71.68114229],
       [ 11.91433653],
       [ -3.78932172],
       [  5.36677505],
       [ 30.14497207],
       [ -4.28969704],
       [  6.39906352],
       [-10.58012805],
       [218.51805651],
       [163.51858984],
       [ 34.3570744 ],
       [129.40825802],
       [ 20.8163272 ],
       [  0.7230393 ],
       [129.49423247],
       [-13.61501351],
       [-15.26701258],
       [ 88.77521022],
       [ -9.46516448],
       [-12.77562986],
       [133.90262116],
       [ 61.8468842 ],
       [ 55.47429346],
       [ 48.6950785 ],
       [ 43.58791977],
       [-12.97781098],
       [104.58275247],
       [ 34.78472637],
       [204.83311236],
       [149.13902797],
       [ 75.36255833],
       [-17.27103447],
       [ 65.53801914],
       [142.05896038],
       [ 77.66918998],
       [ 38.00072854],
       [ 10.84048066],
       [ -6.94985678],
       [107.33402815],
       [-11.16197994],
       [ 28.26770622],
       [113.76216161],
       [305.31471497],
       [178.31909315],
       [ 34.1738948 ],
       [  2.82830853],
       [-13.81791289],
       [ -2.60164045],
       [247.66240669],
       [ 67.40379524],
       [  2.44589339],
       [129.95088571],
       [-16.13694611],
       [137.80427937],
       [134.21719562],
       [ -1.77902957],
       [ 43.47572374],
       [113.63613281],
       [ 67.6998495 ],
       [ 44.59837884],
       [132.41412105],
       [-17.27103447],
       [-14.10092837],
       [ -8.70887619],
       [ -3.48894697],
       [-17.27103447],
       [ 24.15431851],
       [-17.27103447],
       [-16.89638827],
       [ 46.62933796],
       [-12.9816259 ],
       [ 81.16277183],
       [ -5.74033417],
       [-17.27103447],
       [-17.21754998],
       [189.81680741],
       [ 32.26079942],
       [176.48147237],
       [ -5.2407166 ],
       [ -0.44862379],
       [ 53.33229799],
       [ 30.16487846],
       [ 61.71740084],
       [ 23.13106875],
       [168.31944227],
       [ -1.50819033],
       [  1.02442601],
       [-13.08257557],
       [ 23.09092773],
       [ 71.55253541],
       [114.20719262],
       [104.94588522],
       [107.13623765],
       [130.92044735],
       [-17.27103447],
       [-17.27103447],
       [ -9.54365664],
       [-14.26507128],
       [ 40.07257376],
       [ 17.51052203],
       [ 50.68459241],
       [ 14.97658781],
       [-12.4199985 ],
       [ 49.55360407],
       [ 51.94863901],
       [ 58.8120579 ],
       [ 11.01487077],
       [-17.27103447],
       [ 75.18847841],
       [198.60363794],
       [  7.03385814],
       [ 33.25987834],
       [ 29.37158773],
       [ 21.42605205],
       [ 19.76828032],
       [ 64.22263561],
       [137.77332357],
       [ 31.7164924 ],
       [  1.81877877],
       [ 45.59104311],
       [ 81.16540211],
       [ 40.36510911],
       [  2.50835039],
       [127.3465289 ],
       [ 75.63445317],
       [102.5334462 ],
       [ 17.54681699],
       [  1.50236354],
       [ 30.42834237],
       [-10.49742545],
       [-16.07645006],
       [ -7.14660077],
       [-17.27103447],
       [ 20.00208863],
       [ 18.9716718 ],
       [-12.33583785],
       [ 17.17864162],
       [  6.76184057],
       [-10.45981612],
       [ 10.17777181],
       [-14.52059182],
       [ 66.3817939 ],
       [ 88.87914598],
       [117.54047919],
       [126.20868665],
       [104.37166748],
       [ 44.31428916],
       [ -3.09129948],
       [176.4411854 ],
       [-13.77313411],
       [ -8.1172911 ],
       [ 21.11998629],
       [ -8.61430895],
       [123.17825846],
       [136.29538764],
       [ -4.85824734],
       [-17.04344743],
       [ 85.12165991],
       [ 17.29742537],
       [ 77.0186561 ],
       [ 78.24938749],
       [ 39.97605723],
       [-14.53938625],
       [ -2.74217518],
       [ 10.87700337],
       [119.25708953],
       [ 26.92642472],
       [-11.86245065],
       [ 21.9331776 ],
       [ 61.48445971],
       [-11.87721941],
       [128.64973791],
       [ 20.40673764],
       [-15.59794617],
       [171.55258563],
       [ 24.02610059],
       [ 65.64336777],
       [ 19.90737484],
       [164.06658438],
       [  0.98995396],
       [ 21.48552999],
       [ 53.96805796],
       [ 31.20490588],
       [ 29.60617201],
       [163.56845113],
       [  2.95316409],
       [ -3.78372334],
       [  5.35975999],
       [  1.2179339 ],
       [ 14.90382505],
       [ 96.16688009],
       [ 69.14340823],
       [  6.6990216 ],
       [-17.27103447],
       [  7.21173317],
       [ 38.83781781],
       [101.14917072],
       [256.68463996],
       [ 98.29566214],
       [ 93.13319764],
       [ 66.37104215],
       [ -2.34649919],
       [145.68921512],
       [-17.27103447],
       [117.18564012],
       [131.40970629],
       [-16.81985741],
       [-11.94483237],
       [ -4.1331525 ],
       [ 88.05673758],
       [ 14.7692991 ],
       [  8.78046325],
       [197.93661633],
       [102.07464684],
       [ 19.31402073],
       [ 14.10804776],
       [148.46439063],
       [  1.53225673],
       [ 59.06784702],
       [ 83.47686895],
       [148.8616041 ],
       [-17.27103447],
       [ 86.74583701],
       [-17.27103447],
       [ 58.25717953],
       [ 34.62644288],
       [-14.43343908],
       [158.68629655],
       [-16.25596613],
       [ 95.64730006],
       [126.80030986],
       [ 77.16301843],
       [-10.86737237],
       [ -8.0748241 ],
       [ 10.03578703],
       [-17.27103447],
       [ 62.84774706],
       [ 42.5425079 ],
       [ -0.53179802],
       [ 14.35131394],
       [ -1.06158641],
       [ 14.82143829],
       [-12.77925182],
       [147.4849319 ],
       [ -9.98703797],
       [ 39.35628115],
       [ 79.99971365],
       [210.72833424],
       [ 11.46450241],
       [138.62547612],
       [ 48.39774204],
       [ 25.5534615 ],
       [  5.57126367],
       [ 28.81063033],
       [230.35158616],
       [  4.74795918],
       [ 11.02104338],
       [-17.27103447],
       [ -6.14743423],
       [ 48.6832978 ],
       [ 39.64794477],
       [ -8.28696798],
       [ 12.99843725],
       [-10.30939202],
       [-14.7440281 ],
       [ 43.92983579],
       [ 12.45431377],
       [-13.33652176],
       [107.31473772],
       [  9.07158088],
       [105.97650054],
       [ -2.31177468],
       [ 54.94623091],
       [137.86845017],
       [144.1862475 ],
       [ 31.52077495],
       [ 20.08527902],
       [ 45.87792877],
       [ 78.59285516],
       [  9.15071337],
       [ -1.37811069],
       [-14.70742685],
       [ 18.72183743],
       [154.95763532],
       [ 83.61803052],
       [ 38.81107972]])